h3{
    text-align: right;
}
body{
    background-color:#D5B942;
    columns: 2;
}
.container{
    display: flex;
        flex-direction: column;

}
.box-1{
    background-color:#E7AD99;
    color: rgb(10, 9, 9);
    border: 1px solid black;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    margin-left: 50px;
}
.box-2{
    background-color:#CE796B;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    /* border-color: rgb(4, 61, 61) deeppink rgb(4, 41, 41) deeppink; */
    margin-left: 50px;
}
.box-3{
    margin-top: 20px;
    color: rgb(8, 8, 8);
    padding: 10px;
    border: 1px solid black;
    width: 40%;
    border-radius: 20px;
    background-color: #ECC8AF;
    
}
.box-4{
    background-color: #C18C5D;
    color: rgb(8, 8, 8);
    padding: 10px;
    border: 1px solid black;
    width: 40%;
    border-radius: 20px;
}
